@font-face {
  src: url("/fonts/scp.otf");
  font-family: "SCP";
}
body {
  background-color: dodgerblue;
  font-family: "SCP";
}
h1, h2, h3, h4, h5, h6 {
  text-align: center;
  color: red;
}
p {
  color: red;
}
a {
  text-decoration: none;
  color: crimson;
}
.btn-1 {
  background-color: blue;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}
.btn-2 {
  background-color: red;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}
